<footer class="fdb-block footer-large bg-dark">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-4">
        <div class="h3"><strong>{{ site.title }}</strong></div>
        <nav class="nav flex-column">
          {% for item in site.data.toc.links %}
          <a class="nav-link{% if item.url == page.path %} active{% endif %}" href="{{ item.url }}">{{ item.page }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-center">
        <div class="h3"><strong>Contact</strong></div>
        <p class="lead">
          {% if site.data.social %}
          {% for item in site.data.social.links %}
          <a href="{{ item.url }}" class="mx-2"><i class="fab fa-{{ item.source }}" aria-hidden="true"></i></a>
          {% endfor %}
          {% endif %}
<!--
          <a href="https://twitter.com/nylabor4bernie?lang=en" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/NYLaborForBernie/" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
-->
        </p>
        {% if site.contact_email %}
        <p><a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></p>
        {% endif %}
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-right">
        <div class="h3"><strong>About Us</strong></div>
        <p>{{ site.description}}</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        © {{ "now" | date: "%Y" }} {% if site.parent_url %}<a href="{{ site.parent_url }}" title="{{ site.parent }}">{% endif %}{{ site.parent }}{% if site.parent_url %}</a>{% endif %}. All Rights Reserved
      </div>
    </div>
  </div>
</footer>