<footer class="fdb-block footer-large bg-dark">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-4">
        <div class="h3"><strong>New York Labor for Bernie</strong></div>
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Events</a>
          <a class="nav-link" href="#">Resources</a>
          <a class="nav-link" href="#">Volunteer</a>
          <a class="nav-link" href="#">Donate</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-center">
        <div class="h3"><strong>Contact</strong></div>
        <p class="lead">
          <a href="#" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-google" aria-hidden="true"></i></a>
        </p>
        <p><a href="#">email@nylaborforbernie.org</a></p>
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-right">
        <div class="h3"><strong>About Us</strong></div>
        <p>New York Labor for Bernie is ...</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        © 2019 Labor for Bernie. All Rights Reserved
      </div>
    </div>
  </div>
</footer>