<footer class="fdb-block footer-large bg-dark">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-4">
        <div class="h3"><strong>{{ site.title }}</strong></div>
        <nav class="nav flex-column">
          {% for item in site.data.toc.links %}
          <a class="nav-link{% if item.url == page.path %} active{% endif %}" href="{{ item.url }}">{{ item.page }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-center">
        <div class="h3"><strong>Contact</strong></div>
        <p class="lead">
          <a href="https://twitter.com/nylabor4bernie?lang=en" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/NYLaborForBernie/" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        </p>
        <p><a href="#">nylaborforbernie@gmail.com</a></p>
      </div>

      <div class="col-12 col-sm-4 mt-4 mt-sm-0 text-right">
        <div class="h3"><strong>About Us</strong></div>
        <p>New York Labor for Bernie is ...</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        © 2019 Labor for Bernie. All Rights Reserved
      </div>
    </div>
  </div>
</footer>