<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/">{{ site.data._config.title }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav11">
        <ul class="navbar-nav ml-auto">
          {% for item in site.data.toc.links %}
          <li class="nav-item{% if item.url == page.path %} active{% endif %}">
            <a class="nav-link" href="{{ item.url }}">{{ item.page }}{% if item.url == page.path %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://actionnetwork.org/groups/ny-labor-for-bernie">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/volunteer">Volunteer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          {% endfor %}
        </ul>

        <a class="btn btn-outline-light ml-md-3" href="#">Donate</a>
      </div>
    </nav>
  </div>
</header>