<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/">{{ site.title }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav11">
        <ul class="navbar-nav ml-auto">
          {% for item in site.data.toc.links %}
          {% if forloop.last == false %}
          <li class="nav-item{% if item.url == page.path %} active{% endif %}">
          {% endif %}
            <a class="{% if forloop.last == false %}nav-link{% else %}btn btn-outline-light ml-md-3{% endif %}" href="{{ item.url }}">{{ item.page }}{% if item.url == page.path %} <span class="sr-only">(current)</span>{% endif %}</a>
          {% if forloop.last == false %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>