---
layout: default
---

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center">{{ page.title }}</h1>
                            <div class="content{% if page.calendar_src contains "calendar" %} calendar{% endif %}">{{ content }}</div>
                            {% if page["form_url"] && page["form_id"] %}
                            <link href="https://actionnetwork.org/css/style-embed-v3.css" rel="stylesheet" type="text/css">
                            <script src="{{ page.form_url }}"></script>
                            <div id="{{ page.form_id }}" style="width: 100%">
                                <!-- this div is the target for our HTML insertion -->
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>