<!DOCTYPE html>
<html lang="en">

<head>
{% include gtm_head.html %}
{% include meta.html %}
{% include title.html %}
{% include link.html %}
{% include script.html %}
</head>

<body>
    {% include gtm_body.html %} {% include nav.html %}

<section class="fdb-block py-0">
  <div class="container-fluid" style="background: url(bernie-sanders-home.jpg) center center/cover no-repeat;">
  <div class="container py-5">
    <div class="row text-left py-5">
      <div class="col-12 col-sm-10 m-auto mr-md-0 col-md-8 col-lg-6">
        <div class="fdb-box fdb-touch">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10 text-center">
              <h1 class="h2"><span class="display-block">New York </span><span class="display-block">Labor for Bernie</span></h1>
              <div class="lead">{{ content }}</div>

              <p class="h3 mt-4"><a href="{{ page.cta.link_href }}">{{ page.cta.link_copy }} <i class="fas fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h2>{{ page.value.header }}</h1>
        <div class="lead">{{ page.value.desc_text }}</div>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row text-left">
f
      {% for item in page.features.feature %}
      <div class="col-12 col-md-8 m-auto col-lg-4">
        <div class="fdb-box fdb-touch">
          <h2>{{ item.name }}</h2>
          <div>{{ item.desc_text }}</div>
          <p><a href="{{ item.link_href }}">{{ item.link_copy }}</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


    {% include footer.html %}
</body>

</html>
